<!DOCTYPE html>
<html lang="en" ng-app="starter" ng-controller="inicial">

<head >

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
  <script type="text/javascript" src="js/oauth.js"></script>
  <script type="text/javascript" src="js/pdf.js"></script>
  <script type="text/javascript" src="js/test.js"></script>
  <script type="text/javascript" src="js/ng-pdfviewer.js"></script>
  <script type="text/javascript" src="js/pdf.compat.js"></script>

  <title>Buscador Planes UTPL</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="css/plugins/morris.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body  >

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><strong>UTPL</strong></a>
      </div>
      <!-- Top Menu Items -->
      <ul class="nav navbar-right top-nav" ng-if="logeo != true">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>Ingresa o Registrate!<b class="caret"></b></a>
          <ul class="dropdown-menu" id="ulColor">
            <li id="btnFace">
              <button  id="social" type="button" class="btn btn-link btn-lg" name="button" ng-click="LogIn('facebook')">Facebook</button>
            </li>
            <li id="btnTwet">
              <button id="social" name="button" class="btn btn-link btn-lg" ng-click="LogIn('twitter')">Twitter</button>
            </li>
            <li  id="btnGog">
              <button id="social" type="button" class="btn btn-link btn-lg" name="button" ng-click="LogIn('google')">Google</button>
            </li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-right top-nav" ng-if="logeo != false">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar" ng-src="{{usuario.avatar}}">{{usuario.nombre}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" ng-click="LogOut()"><i class="fa fa-fw fa-power-off" ></i> Log Out</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Favoritos<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="fav in favoritos">
              <a href="#/"></i>{{fav.nombre_plan}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" ng-if="logeo == true">
        <ul class="nav navbar-nav side-nav">
          <li class="active">
            <a href="#/"><i class="fa fa-fw fa-dashboard"></i>Inicio</a>
          </li>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Autores <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
              <li ng-repeat="autor in autores | orderBy : '+nombre'">
                <a href="#filtroAutor" ng-click="filtrarporAutor(autor.nombre)" id="itemMenu">{{autor.nombre | uppercase}} : <span class="badge" style="float: right">{{autor.numeroPlanes}}</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#usuarios"><i class="fa fa-fw fa-arrows-v"></i> Usuarios <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="usuarios" class="collapse">
              <li ng-repeat="user in usuariosRegistrados | orderBy : '+nombre'">
                <a href="" ng-click="nuevoSeguido(user.id)" id=""><img class="avatar" ng-src="{{user.avatar}}">{{user.nombre}}</a>

              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#seguidos"><i class="fa fa-fw fa-arrows-v"></i> Seguidos <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="seguidos" class="collapse">
              <li ng-repeat="user in usuariosSeguidos | orderBy : '+nombre'">
                <a href="" ng-click="nuevoSeguido(user.id)" id=""><img class="avatar" ng-src="{{user.avatar}}">{{user.id}}</a>

              </li>
            </ul>
          </li>


        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-md-8">
            <h1 class="page-header">
              Buscador Planes de Estudio <small>{{mensaje}}</small>
            </h1>

            <form class="form">
              <div class="">
                <div class="fila">
                  <div class="col-lg-4">
                    <label for="">Criterio de Busqueda: </label>
                  </div>

                  <div class="col-lg-6">
                    <input class="form-control" type="text" name="criterioBusqueda" ng-model="criterioBusqueda">
                  </div>
                  <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" name="button" ng-click="buscar()" autofocus>Buscar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div ng-view></div>

      </div>
    </div>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script>
</body>

</html>
