<!DOCTYPE html>
<html ng-app="starter">
<head>
  <meta charset="utf-8">
  <title>Buscador de Planes de Estudio</title>
  <script type ="text/javascript" src="js/angular.min.js"></script>
  <script type ="text/javascript" src="js/controller.js"></script>
  <script type="text/javascript" src="js/bower_components/oauth-js/dist/oauth.js"></script>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css" media="screen" title="no title" charset="utf-8">

</head>
<body  >
  <ion-view>
    <ion-content>
      <div class="" ng-controller="inicial">
        <div class="">
          <label for="criterioBusqueda">Criterio Busqueda: </label>
          <input type="text" class="form-control" name="criterioBusqueda" value="" ng-model="criterioBusqueda">
        </div>
        <button type="button" name="button" ng-click="buscar()">{{mensaje}}</button>
        <div class="">
          <div class="" ng-repeat="plan in planes | limitTo:100">
            <div class="">

              <h2>{{plan.title[0]}}</h2>
            </div>

          </div>
        </div>
      </div>

    </ion-content>
  </ion-view>
</body>
</html>
